out
build
.idea
*.iml
*.ipr
*.iws
.DS_Store
.gradle
.classpath
.project
.settings
.yardoc
.yardopts
bin
target
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.class
mods
vertx_classpath.txt
node_modules
.sonar_lock