<!--
  ~  __________________
  ~  Qaobee
  ~  __________________
  ~
  ~  Copyright (c) 2015.  Qaobee
  ~  All Rights Reserved.
  ~
  ~  NOTICE: All information contained here is, and remains
  ~  the property of Qaobee and its suppliers,
  ~  if any. The intellectual and technical concepts contained
  ~  here are proprietary to Qaobee and its suppliers and may
  ~  be covered by U.S. and Foreign Patents, patents in process,
  ~  and are protected by trade secret or copyright law.
  ~  Dissemination of this information or reproduction of this material
  ~  is strictly forbidden unless prior written permission is obtained
  ~  from Qaobee.
  -->

<!--suppress XmlUnboundNsPrefix -->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%method] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.qaobee" level="ALL"/>
    <logger name="org.mockserver" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="org.mongodb.driver" level="WARN"/>
    <root level="ALL">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>